extends template

block t-title-h1
	h1 Admin Issue Board

block t-title-h2
	h2 Student-Submitted Issues

block content

		//div.issueContainer.ics
		div.mIssueContainer

			h1.title Comments

			if comments.length > 0
				each comment in comments
					div.commentBox
						h3
							span.name= comment.username
							span.on= " on "
							span.issue= comment.elementTitle
							if comment.approved === 1
								span.approved  [Approved]
							else
								span.unapproved  [Unapproved]
						h2.date= comment.time
						p= comment.body
						div.linkContainer
							if comment.approved === 1
								a(href="/admin-command/?action=comment-unapprove&comment_id=" + comment.id + "&issue_id="  + comment.elementID) Un-Approve
							else
								a(href="/admin-command/?action=comment-approve&comment_id=" + comment.id + "&issue_id="  + comment.elementID) Approve
							a(href="/admin-command/?action=comment-delete&comment_id=" + comment.id + "&issue_id="  + comment.elementID) Delete

			h1.title Issues

			if rows.length > 0
				each val in rows
					// +createIssueBox(val)
					+createMaterialIssueBox(val, true)

				div.addMore
					h1 You can be the voice of change
					div.multButtons
						a(href="/issues/submit").submit-button.first Submit an Issue
			else
				div.addMore
					h1 There are no issues currently
					a(href="/issues/submit").submit-button Submit an Issue