head
	title= title
	include mixins.jade

	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")

	meta(name='description', content=description)
	meta(name='keywords',    content=keywords)

	meta(property="og:type", content="website")
	meta(property="og:url",  content=ogurl)
	meta(property="og:image", content=linkimage)

	link(rel='stylesheet', href='/css/index.css')

	script(src="/scripts/jquery.js")
	script(src="/scripts/animationHeader.js")