doctype html
html(lang="en")

	include header

	body
		div(id= "fb-root")
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=102673221131";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));


		include navigation

		div.body

			if alert
				div.ialert.bar
					div.innerContainer
						h1.atitle!= alertTitle
						p.abody!= alertBody

			div.singleIssue.bar

				div.container

					div.left

						div.top
							h1= issue.title
							h3= "Submitted On " + issue.date.toDateString() + " at " + issue.date.getHours() + ":" + issue.date.getMinutes() + ":" + issue.date.getSeconds()

						div.bottom
							//h5 Hover for easy reading mode
							p= issue.body

					div.right

						div.stats

							div.left

								div.row.rowOne
									h3
										span.number #{issue.likes}
										span.word Upvotes

								div.row.rowTwo
									h3 
										span.number #{issue.views}
										span.word Views

								div.row.rowThree
									h3 
										span.number ~5
										span.word Shares

							div.right
								div.barOne
								div.barTwo
								div.barThree
									
						div.share
							div.fb-share-button(data-href=ogurl data-layout="box_count")

			div.comments.bar
				
				div.commentContainer

					div.submitContainer

						form(name="add-comment", method="post")

							div.text
								textarea(name="comment")

							div.submitArea
								input(type="submit", value="Comment")

					div.explanationContainer
						p Comments are a valuable way to share your opinion on the issue. Comments are anonymous and are sorted from most recent to least recent.

					div.childrenContainer
						each comment in issue.comments
							div.commentBox

								if comment.admin === 1
									div.adminBar
										h2
											span.first Official Administrator Response 
											span.second= "(" + comment.name + ")"
										h4
											span.first= comment.time
								else
									div.studentBar
										h2
											span.firstA= "Anonymous Student Response (" + comment.time + ")"

								div.innerCommentContainer
									p!= comment.body

			include footer