mixin list(list)
	ul
		each val in list
			li(class!=attributes.class)
				a(href= val.link)= val.name
				
mixin createMobileNav(list, user)

	div.mobileNav
	
		div.mobileRow
			div.mobileBlock.issueBlock
				a(href="/issues").mobileLink Issue Board
				a(href="/issues/submit").mobileLink Submit Issue
		
		div.mobileRow
			div.mobileBlock.block.foodBlock
				a(href="/food").mobileLink Meal Review
				
			div.mobileBlock.block.loginBlock
				a(href="/login").mobileLink Login
				
		div.mobileRow
			div.mobileBlock.block.aboutBlock
				a(href="/about").mobileLink About

			div.mobileBlock.block.membersBlock
				a(href="/members").mobileLink Members
				
		div.mobileRow
			div.mobileBlock.block.constitutionBlock
				a(href="/constitution").mobileLink Constitution

			div.mobileBlock.block.newsBlock
				a(href="/news").mobileLink News

// Main Navigation
// This creates the main navigation list and children.
mixin createMainNav(list, user)
		ul
			each val in mainNavigation
				li
	
					if val.name == 'Login'
						if user
							a(href="/")= user.first
							ul.login
								li= user.name
								li
									p.desc You are logged in under a verified LSMSA email account. Your account is currently under the email #{user.email}.
								li
									a(href="/logout") Logout
								if user.isAdmin
									li
										a(href="/admin") Admin Panel
								else
									li
										p= user.isAdmin
						else
							a(href="/login-welcome") Login
	
					else
						a(href= val.link)= val.name
	
						if val.sub.length > 0
							ul.sub
								each subval in val.sub
									li
										a(href= subval.link)= subval.name

// Issue Box
// Creates a singular issue based on the argument
mixin createIssueBox(issue)
	div.issueBox

		div.voteStuff

			div.sideContainer
				// TOP CONTAINER: ARROWS
				div.topContainer.arrows

					div.arrowContainer
						a(href="/issues/" + issue.id + "?action=like").uplink
							div.imageContainer
								img(src="/images/ARROW_UP_DARK.png").upimg
								img(src="/images/ARROW_UP_LIGHT.png").upimgacc
						a(href="/issues/" + issue.id + "?action=dislike").downlink
							img(src="/images/ARROW_DOWN_DARK.png").downimg

				// TOP CONTAINER: VOTES
				div.topContainer.votes

					div.top

						div.score
							p.positive= "+" + issue.likes

						div.stars
							
							if issue.likes == 0

							else if issue.likes <= 5
								img(src="/images/STAR_26.png")

							else if issue.likes <= 10
								img(src="/images/STAR_26.png")
								img(src="/images/STAR_26.png")

							else if issue.likes > 10
								img(src="/images/STAR_26.png")
								img(src="/images/STAR_26.png")
								img(src="/images/STAR_26.png")

					div.bottom
						p Issue

			// TOP CONTAINER: CONTENT
			div.topContainer.content

				div.container
					div.top

						div.top
							a(href="/issues/" + issue.id)
								if issue.title.length < 30
									h1= issue.title
								else
									h1.small= issue.title
							h3= "Submitted on " + issue.date.toDateString()

						div.bottom
							a(href="").button-issue.primary SGO Response 

					div.bottom
						p= issue.body

				div.alert
					a(href="/issues/" + issue.id) Go to this issue's page (comments, description)

		// TOP CONTAINER: SOCIAL
		div.topContainer.social

			div.top
				a(href="/issues/" + issue.id).link Read More...
				a(href="/issues/" + issue.id).link Discuss...
				a(href="/issues/" + issue.id).link Share...

			div.bottom
				p
					a(href="/issues/" + issue.id) Comments

// Material/Mobile Issue Box
// Creates a singular issue based on the argument which uses
// the new material design that is optimized  for mobile and
// browsers with little flexbox support.
mixin createMaterialIssueBox(issue, admin)
	div.mIssueBox

		div.upper

			div.innerContainer.main

				div.area.score
					div.holder

						div.likes
							p= "+" + issue.likes

						div.stars

							-
								var stars
								if      (issue.likes == 0)  { stars = 0 }
								else if (issue.likes <  6)  { stars = 1 } 
								else if (issue.likes <  16) { stars = 2 }
								else                        { stars = 3 }

							while stars > 0
								img(src="/images/STAR.png").starImage
								- stars = stars - 1

						if issue.resolved == 1
							a(href="/issues/" + issue.id).resolved
								div.resolvedDiv
									p Resolved

				div.area.right
					div.area.votesDesktop
						+createVoteButtons(issue)

					div.area.content

						div.upper

							div.votesMobile
								+createVoteButtons(issue)

							div.title
								a(href="/issues/" + issue.id)
									h1= issue.title
								h3= "Submitted on " + issue.date.toDateString()

						div.lower

							div.description
								a(href="/issues/" + issue.id)
									p= issue.body
								if admin
									div.adminInfo
										h3 Confidential Issue Information
										if issue.approved
											p
												span.bold Approved Status: 
												span.after APPROVED
										else
											p
												span.bold Approved Status: 
												span.after NOT APPROVED
										p
											span.bold Submitter: 
											span.after= issue.username
										p
											span.bold Email: 
											span.after= issue.email

		div.lower
			div.left
				if issue.admin === true
					div.imageContainer
						img(src="/images/alert9.png").warning
					a(href="/issues/" + issue.id).link Has LSMSA Staff Response

			div.right

				if admin

					- var body    = "Hello " + issue.username + ",%0a%0a%0a%0a%0a%0aThank you,%0a" + user.name
					- var subject = "LSMSA SGO, Official Response"
					- var email   = "https://mail.google.com/mail/?view=cm&fs=1&to=" + issue.email + "&su=" + subject + "&body=" + body;
					- console.log(issue)

					a(href=email target="_blank" style="target-new: tab;").link Contact User
					a(href="/issues/" + issue.id + "?action=delete").link Delete

					if issue.resolved
						a(href="/issues/" + issue.id + "?action=unresolve") Un-Resolve
					else
						a(href="/issues/" + issue.id + "?action=resolve") Mark as Resolved

					if issue.approved
						a(href="/issues/" + issue.id + "?action=unapprove").link Un-Approve
					else
						a(href="/issues/" + issue.id + "?action=approve").link Approve

				else
					a(href="/issues/" + issue.id).link View
					a(href="/issues/" + issue.id).link Comment
					a(href="/issues/" + issue.id).link Share

mixin createVoteButtons(issue)
	a(href="/issues/" + issue.id + "?action=like").voteLink.upLink
		div.mImageContainer
			img(src="/images/ARROW_UP_LIGHT.png").imageMain.imageUp
	a(href="/issues/" + issue.id + "?action=dislike").voteLink.downLink
		div.mImageContainer
			img(src="/images/ARROW_DOWN_LIGHT.png").imageMain.imageDown