mixin list(list)
	ul
		each val in list
			li(class!=attributes.class)
				a(href= val.link)= val.name

// Main Navigation
// This creates the main navigation list and children.
mixin createMainNav(list, user)
	ul
		each val in mainNavigation
			li

				if val.name == 'Login'
					if user
						a(href="#") Profile
						ul.login
							li= user.name
							li
								p.desc You are logged in under a verified LSMSA email account. Your account is currently under the email #{user.email}.
							li
								a(href="/logout") Logout
					else
						a(href="/login") Login

				else
					a(href= val.link)= val.name

					if val.sub.length > 0
						ul.sub
							each subval in val.sub
								li
									a(href= subval.link)= subval.name

// Issue Box
// Creates a singular issue based on the argument
mixin createIssueBox(issue)
	div.issueBox

		div.topContainer.arrows
			div.arrowContainer
				a(href="/issues/" + issue.id + "?action=like").uplink
					div.imageContainer
						img(src="/images/ARROW_UP_DARK.png").upimg
						img(src="/images/ARROW_UP_LIGHT.png").upimgacc
				a(href="").downlink
					img(src="/images/ARROW_DOWN_DARK.png").downimg

		div.topContainer.votes

			div.top

				div.score
					p.positive= "+" + issue.likes

				div.stars
					
					if issue.likes == 0

					else if issue.likes <= 5
						img(src="/images/STAR_26.png")

					else if issue.likes <= 10
						img(src="/images/STAR_26.png")
						img(src="/images/STAR_26.png")

					else if issue.likes > 10
						img(src="/images/STAR_26.png")
						img(src="/images/STAR_26.png")
						img(src="/images/STAR_26.png")

			div.bottom
				p Issue

		div.topContainer.content

			div.container
				div.top

					div.top
						a(href="/issues/" + issue.id)
							if issue.title.length < 30
								h1= issue.title
							else
								h1.small= issue.title
						h3= "Submitted on " + issue.date.toDateString()

					div.bottom
						a(href="").button-issue.primary SGO Response 

				div.bottom
					p= issue.body

			div.alert
				a(href="/issues/" + issue.id) Go to this issue's page (comments, description)

		div.topContainer.social

			div.top
				a(href="/issues/" + issue.id).link Read More...
				a(href="/issues/" + issue.id).link Discuss...
				a(href="/issues/" + issue.id).link Share...

			div.bottom
				p
					a(href="") 20+ Responses